body {
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  background-color: #efa63f;
}

form {
  position: relative;
  right: 10px;
  text-align: right;
}

h1 {
  position: relative;
  top: -5px;
  margin: 0;
}

p {
  position: relative;
  top: -5px;
  margin: 0;
}

button {
  color: black;
  padding: 2px 6px;
  border-radius: 6px;
  background: #efa63f;
  border: 1px solid #909294;
}

.border {
  border: 1px solid 909294;
  border-radius: 10px;
  padding: 16px;
  max-width: 620px;
  margin: 0 auto;
  background-color: white;
}

.currently {
  font-size: 64px;
}

.next-days {
  margin-top: 30px;
  text-align: center;
}

.icon {
  font-size: 30px;
}

.forecast-temp {
  text-align: center;
}

#github {
  max-width: 620px;
  margin: 0 auto;
  padding: 6px;
  color: white;
  opacity: 0.8;
}

#github-link {
  text-decoration: none;
  color: black;
}

#description {
  text-transform: capitalize;
}

#input-button {
  padding: 2px 6px;
  border-radius: 6px;
  background: #efa63f;
  border: 1px solid #909294;
}

#min {
  text-align: center;
  opacity: 0.5;
}

#forecast-icons {
  display: block;
  margin: 0 auto;
}

#forecast-day,
#max {
  text-align: center;
}

#unit {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  top: -30px;
}
