body {
  font-family: "Times New Roman", Times, serif;
}

form {
  position: relative;
  right: 10px;
  text-align: right;
}

h1 {
  position: relative;
  top: -5px;
  margin: 0;
}

p {
  position: relative;
  top: -5px;
  margin: 0;
}

button {
  padding: 2px 6px;
  border-radius: 6px;
  background: #e5e5e5;
  border: 1px solid black;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: blueviolet;
}

.border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  max-width: 620px;
  margin: 0 auto;
}

.currently {
  font-size: 64px;
}

.next-days {
  margin-top: 30px;
  text-align: center;
}

.icon {
  font-size: 30px;
}

.active {
  color: black;
  cursor: default;
}

#github {
  max-width: 620px;
  margin: 0 auto;
}

#description {
  text-transform: capitalize;
}

.active:hover {
  color: black;
}
